<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
  <title>Chatterbox</title>
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2 class="title">Chatterbox</h2>
      {% with messages = get_flashed_messages(with_categories = True) %} 
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="log_email" class="form-label">Email</label>
          <input type="text" name="log_email" id="log_email" class="form-control">
          {% if messages %}
          {% for category, message in messages %}
              {% if category == 'log_email' %}
                  <span class="form-text text-danger">{{message}}</span>
              {% endif %}
          {% endfor %}
      {% endif %}
      </div>
      <div class="mb-3">
          <label for="log_password" class="form-label">Password</label>
          <input type="password" name="log_password" id="log_password" class="form-control">
          {% if messages %}
          {% for category, message in messages %}
              {% if category == 'log_email' %}
                  <span class="form-text text-danger">{{message}}</span>
              {% endif %}
          {% endfor %}
      {% endif %}
      </div>
      <div class="d-flex justify-content-end">
          <input type="submit" value="Sign In" class="button">
      </div>

        </form>
        {% endwith %}
      <p class="forgot-pass">Forgot Password ?</p>

        <div class="social-media">
            <ul>
            <li><img src="../static/images/facebook.png"></li>
            <li><img src="../static/images/twitter.png"></li>
            <li><img src="../static/images/google.png"></li>
            <li><img src="../static/images/instagram.png"></li>
            </ul>
        </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and connect with friends or meet new ones!</p>
        </div>
        <div class="img-text m-in">
          <h2>Already a Chatter?</h2>
          <p>If you already have an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Sign Up</h2>

        {% with messages = get_flashed_messages(with_categories = True) %} 
        <form action="/register" method="post">

          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control">
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'first_name' %}
                  <span class="form-text text-danger">{{message}}</span>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control">
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'last_name' %}
                        <span class="form-text text-danger">{{message}}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control">
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'email' %}
                        <span class="form-text text-danger">{{message}}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'password' %}
                        <span class="form-text text-danger">{{message}}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="password_confirmation" class="form-label">Confirm Password</label>
            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control">
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'password_confirmation' %}
                        <span class="form-text text-danger">{{message}}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </div>
          
          <input type="submit" value="Sign Up Now" class="button">
        

      </div>
      </form>
      {% endwith %}
    </div>
  </div>
  <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>

